<%# important to keep the <a> tag inside a <div> container %>
  <% @posts.reverse.each do |post| %>
  <div>

  <a class="gallery-grid-element post" style="position: relative;" data-post = <%=post.id%>
  <%# href="<%= post_path(post) %>" target="_blank" %>
  >    <div  style="position: relative; <% if post.photos.attached? %> background-image: url('<%= cl_image_path post.photos.first.key, height: 300,  width: 400, crop: :fill %>'); background-size: cover;  background-position: center; <% end %>  position: absolute; width: 100%; height: 100%; background-color: white; z-index: 0"></div>
    <div style="position: absolute; width: 100%; height: 100%; background-color: <%= 'white' if post.important == false%> <%= ['sandybrown', 'darkseagreen'].sample if post.important%>; opacity: 0.5; z-index: 0"></div>
    <% if post.supertitle.present? %>
    <p style="position: absolute; top: 0px;"><%= post.supertitle.upcase %></p>
    <% end %>
    <p class="gallery-grid-element-title" style="position: absolute">
      <%= post.title %>
    </p>
    <p style="position: absolute; bottom: 0px;">
      <%= post.secondtitle %>
    </p>
  </a>
  </div>
  <% end %>
