<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("fckyb8gwpevt2kh1bvoe",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("fckyb8gwpevt2kh1bvoe",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<%@posts.reverse.each do |post|%>
<div>
  <a class="gallery-grid-element post <%= 'important' if post.important %>" style="position: relative"  href="<%= post_path(post) %>" target = "_blank">
    <p style="position: absolute; top: 0px;"><%=post.supertitle.upcase%></p>

    <p class="gallery-grid-element-title">
        <%=post.title%>
        <%=post.id%>
    </p>

    <p style="position: absolute; bottom: 0px;">
      <%=post.secondtitle%>
    </p>
  </a>
</div>
<%end%>

<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
