<div class="show-grid" style="gap: 1px">
<div class="show-grid-column" style="">

  <div style="padding: 0.5em">
    <p class="super-title">
      <%= @post.supertitle %>
    </p>
    <p class="title" style="padding: 0em 0.8em 0em 0.8em; outline: 1px solid black; border-radius: 2em; width: fit-content; ">
      <%= @post.title %>
    </p>
    <p class="second-title" >
      <%= @post.secondtitle %>
    </p>
    <p class="body"style="max-width: 65ch">
    <%= @post.body %>
    </p>
  </div>
</div>
<div class="show-grid-column">

  <% if @post.photos.attached? %>
  <% @post.photos.each do |photo| %>
    <%= cl_image_tag photo.key, style: "width: 100%; max-height: 94vh" %>
  <% end %>
<% end %>

</div>

</div>
