<!DOCTYPE html>
<html>
  <head>
    <title>CHANGEThisToYourRailsAppName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="">
      <div class="homepage-grid">
        <header>
        <%= render "shared/navbar" %>
        </header>

        <div>
          <%= yield %>
        </div>
    </div>



  </body>
</html>

<script> // infinite scroll



//la variable posts s'ha de re-declarar cada vegada que hi hagi un fetch

</script>
